div{
    height: 12vh;
    display: flex;
    line-height: 12vh;
    justify-content: center;
    background-color: #cf0a0a;

    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #fff;
}