.page-content {
  height: 100vh;
  background-color: #061f02;
}
.example-card {
  background-color: #dc5f00;
}
mat-grid-tile {
  
  background: #fff;
  font-size: x-large;
  color: #05000f;
  
}
app-task-list{
  background-color: #fff;
}
app-create-task{
  height: 100%;
}
