<div class="page-content">
  <app-header></app-header>



  <mat-grid-list cols="2"  rowHeight="1:.8" gutterSize="20" >
    <mat-grid-tile >  
      <app-create-task ></app-create-task> 
    </mat-grid-tile>
    <mat-grid-tile >
      <!-- the task list goes here -->
      <app-task-list></app-task-list>
    </mat-grid-tile>
    <!-- <mat-grid-tile> priority</mat-grid-tile>
    <mat-grid-tile>completed task</mat-grid-tile> -->
    
  </mat-grid-list>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>
